.movie-card {
  position: relative;
  width: 342px;
  height: 513px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.movie-card .poster {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.movie-card .backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.movie-card .backdrop:hover {
  opacity: 1;
}
