.backdrop-container {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
  background-color: #111;
}

.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#single-movie-page {
  min-height: 90vh;
}
