#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.movie-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  min-width: auto;
}

#list-select {
  width: 75%;
  font-size: x-large;
  background-color: #121122;
  color: white;
  border-radius: 25px;
  padding: 0.5rem;
}

@media (min-width: 30rem) {
  .movie-cards {
    min-width: 75%;
  }
}
